<div class="row">
	<a href="#logout">Logout</a> | <a href="#result">Quit</a>
</div>
<div class="gameModule">	
	<div class="row">
		<div class="col-xs-5"></div>
		<img class="col-xs-2" src="<%= document.mediaURL %>/<%= question_image %>" />
		<div class="col-xs-5"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-2"></div>
		<img class="submit col-xs-2" id="1" src="<%= document.mediaURL %>/<%= answer_image1 %>" />
		<div class="col-xs-1"></div>
		<img class="submit col-xs-2" id="2" src="<%= document.mediaURL %>/<%= answer_image2 %>" />
		<div class="col-xs-1"></div>
		<img class="submit col-xs-2" id="3" src="<%= document.mediaURL %>/<%= answer_image3 %>" />
		<div class="col-xs-2"></div>
	</div>
	<div class="row" id="responseMsg">&nbsp;</div>
</div>
